[submodule "stanko.io-backend"]
	path = backend
	url = git@github.com:stankec/stanko.io-backend.git
[submodule "stanko.io-frontend"]
	path = frontend
	url = git@github.com:stankec/stanko.io-frontend.git
